training-code
[{"id":"e8ace3e.7cc28a","type":"tab","label":"Basics"},{"id":"dc0f9a26.b04198","type":"tab","label":"Vis"},{"id":"b989299c.af9cb8","type":"tab","label":"Data"},{"id":"57b296ce.6a337","type":"tab","label":"Cognitive"},{"id":"5e40c876.5f957","type":"tab","label":"App"},{"id":"2086daec.fbb296","type":"twitter-credentials","z":"","screen_name":"@RStrachowski"},{"id":"c58be9e3.3f3e98","type":"websocket-listener","z":"","path":"/ws/audio","wholemsg":"false"},{"id":"56851610.0762c","type":"websocket-listener","z":"","path":"/ws/audio2","wholemsg":"false"},{"id":"ed594549.25309","type":"template","z":"dc0f9a26.b04198","name":"website","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<style>\n\nbody {\n  font-family: sans-serif;\n}\n\nform {\n  width: 960px;\n  text-align: right;\n  margin-bottom: 4px;\n}\n\nsvg {\n  font-size: 10px;\n}\n\n</style>\n<form>\n  <label><input type=\"radio\" name=\"mode\" value=\"sumBySize\" checked> Size</label>\n  <label><input type=\"radio\" name=\"mode\" value=\"sumByCount\"> Count</label>\n</form>\n<svg width=\"960\" height=\"580\"></svg>\n<script src=\"https://d3js.org/d3.v4.min.js\"></script>\n<script>\n\nvar svg = d3.select(\"svg\"),\n    width = +svg.attr(\"width\"),\n    height = +svg.attr(\"height\");\n\nvar fader = function(color) { return d3.interpolateRgb(color, \"#fff\")(0.2); },\n    color = d3.scaleOrdinal(d3.schemeCategory20.map(fader)),\n    format = d3.format(\",d\");\n\nvar treemap = d3.treemap()\n    .tile(d3.treemapResquarify)\n    .size([width, height])\n    .paddingInner(1);\n\nd3.json(\"/json\", function(error, data) {\n  if (error) throw error;\n\n  var root = d3.hierarchy(data)\n      .eachBefore(function(d) { d.data.id = (d.parent ? d.parent.data.id + \".\" : \"\") + d.data.name; })\n      .sum(sumBySize)\n      .sort(function(a, b) { return b.height - a.height || b.value - a.value; });\n\n  var cell = svg.selectAll(\"g\")\n    .data(treemap(root).leaves())\n    .enter().append(\"g\")\n      .attr(\"transform\", function(d) { return \"translate(\" + d.x0 + \",\" + d.y0 + \")\"; });\n\n  cell.append(\"rect\")\n      .attr(\"id\", function(d) { return \"rect-\" + d.data.id; })\n      .attr(\"width\", function(d) { return d.x1 - d.x0; })\n      .attr(\"height\", function(d) { return d.y1 - d.y0; })\n      .attr(\"fill\", function(d) { return color(d.parent.data.id); });\n\n  cell.append(\"text\")\n    .selectAll(\"tspan\")\n      .data(function(d) { return d.data.name.split(/(?=[A-Z][^A-Z])/g); })\n    .enter().append(\"tspan\")\n      .attr(\"x\", 4)\n      .attr(\"y\", function(d, i) { return 13 + i * 10; })\n      .text(function(d) { return d; });\n\n  cell.append(\"title\")\n      .text(function(d) { return d.data.id + \"\\n\" + format(d.value); });\n\n  d3.selectAll(\"input\")\n      .data([sumBySize, sumByCount], function(d) { return d ? d.name : this.value; })\n      .on(\"change\", update);\n\n  function update(sum) {\n    cell = cell\n      .data(treemap(root.sum(sum)).leaves(), function(d) { return d.data.id; });\n\n    cell.transition()\n        .duration(750)\n        .attr(\"transform\", function(d) { return \"translate(\" + d.x0 + \",\" + d.y0 + \")\"; })\n      .select(\"rect\")\n        .attr(\"width\", function(d) { return d.x1 - d.x0; })\n        .attr(\"height\", function(d) { return d.y1 - d.y0; });\n  }\n});\n\nfunction sumByCount(d) {\n  return d.children ? 0 : 1;\n}\n\nfunction sumBySize(d) {\n  return d.size;\n}\n\n</script>","x":252.5,"y":98,"wires":[["557f7887.18f07"]]},{"id":"253d469d.aa065a","type":"http in","z":"dc0f9a26.b04198","name":"[get]/vis","url":"/vis","method":"get","swaggerDoc":"","x":90.5,"y":99,"wires":[["ed594549.25309"]]},{"id":"557f7887.18f07","type":"http response","z":"dc0f9a26.b04198","name":"","x":416.5,"y":97,"wires":[]},{"id":"af6f420e.af9008","type":"http in","z":"dc0f9a26.b04198","name":"[get]/flares","url":"/flares","method":"get","swaggerDoc":"","x":100.5,"y":191,"wires":[["ed22385c.4474f8"]]},{"id":"ed22385c.4474f8","type":"dashDB in","z":"dc0f9a26.b04198","dashDB":"","service":"stra-dashDB1","query":"select * from FLARES;","params":"","name":"","x":251.5,"y":191,"wires":[["f4f9bac5.e04e4"]]},{"id":"f4f9bac5.e04e4","type":"http response","z":"dc0f9a26.b04198","name":"","x":419.5,"y":190,"wires":[]},{"id":"6499f07d.63cba","type":"template","z":"dc0f9a26.b04198","name":"flares.json","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n \"name\": \"flare\",\n \"children\": [\n  {\n   \"name\": \"analytics\",\n   \"children\": [\n    {\n     \"name\": \"cluster\",\n     \"children\": [\n      {\"name\": \"AgglomerativeCluster\", \"size\": 3938},\n      {\"name\": \"CommunityStructure\", \"size\": 3812},\n      {\"name\": \"HierarchicalCluster\", \"size\": 6714},\n      {\"name\": \"MergeEdge\", \"size\": 743}\n     ]\n    },\n    {\n     \"name\": \"graph\",\n     \"children\": [\n      {\"name\": \"BetweennessCentrality\", \"size\": 3534},\n      {\"name\": \"LinkDistance\", \"size\": 5731},\n      {\"name\": \"MaxFlowMinCut\", \"size\": 7840},\n      {\"name\": \"ShortestPaths\", \"size\": 5914},\n      {\"name\": \"SpanningTree\", \"size\": 3416}\n     ]\n    },\n    {\n     \"name\": \"optimization\",\n     \"children\": [\n      {\"name\": \"AspectRatioBanker\", \"size\": 7074}\n     ]\n    }\n   ]\n  },\n  {\n   \"name\": \"animate\",\n   \"children\": [\n    {\"name\": \"Easing\", \"size\": 17010},\n    {\"name\": \"FunctionSequence\", \"size\": 5842},\n    {\n     \"name\": \"interpolate\",\n     \"children\": [\n      {\"name\": \"ArrayInterpolator\", \"size\": 1983},\n      {\"name\": \"ColorInterpolator\", \"size\": 2047},\n      {\"name\": \"DateInterpolator\", \"size\": 1375},\n      {\"name\": \"Interpolator\", \"size\": 8746},\n      {\"name\": \"MatrixInterpolator\", \"size\": 2202},\n      {\"name\": \"NumberInterpolator\", \"size\": 1382},\n      {\"name\": \"ObjectInterpolator\", \"size\": 1629},\n      {\"name\": \"PointInterpolator\", \"size\": 1675},\n      {\"name\": \"RectangleInterpolator\", \"size\": 2042}\n     ]\n    },\n    {\"name\": \"ISchedulable\", \"size\": 1041},\n    {\"name\": \"Parallel\", \"size\": 5176},\n    {\"name\": \"Pause\", \"size\": 449},\n    {\"name\": \"Scheduler\", \"size\": 5593},\n    {\"name\": \"Sequence\", \"size\": 5534},\n    {\"name\": \"Transition\", \"size\": 9201},\n    {\"name\": \"Transitioner\", \"size\": 19975},\n    {\"name\": \"TransitionEvent\", \"size\": 1116},\n    {\"name\": \"Tween\", \"size\": 6006}\n   ]\n  },\n  {\n   \"name\": \"data\",\n   \"children\": [\n    {\n     \"name\": \"converters\",\n     \"children\": [\n      {\"name\": \"Converters\", \"size\": 721},\n      {\"name\": \"DelimitedTextConverter\", \"size\": 4294},\n      {\"name\": \"GraphMLConverter\", \"size\": 9800},\n      {\"name\": \"IDataConverter\", \"size\": 1314},\n      {\"name\": \"JSONConverter\", \"size\": 2220}\n     ]\n    },\n    {\"name\": \"DataField\", \"size\": 1759},\n    {\"name\": \"DataSchema\", \"size\": 2165},\n    {\"name\": \"DataSet\", \"size\": 586},\n    {\"name\": \"DataSource\", \"size\": 3331},\n    {\"name\": \"DataTable\", \"size\": 772},\n    {\"name\": \"DataUtil\", \"size\": 3322}\n   ]\n  },\n  {\n   \"name\": \"display\",\n   \"children\": [\n    {\"name\": \"DirtySprite\", \"size\": 8833},\n    {\"name\": \"LineSprite\", \"size\": 1732},\n    {\"name\": \"RectSprite\", \"size\": 3623},\n    {\"name\": \"TextSprite\", \"size\": 10066}\n   ]\n  },\n  {\n   \"name\": \"flex\",\n   \"children\": [\n    {\"name\": \"FlareVis\", \"size\": 4116}\n   ]\n  },\n  {\n   \"name\": \"physics\",\n   \"children\": [\n    {\"name\": \"DragForce\", \"size\": 1082},\n    {\"name\": \"GravityForce\", \"size\": 1336},\n    {\"name\": \"IForce\", \"size\": 319},\n    {\"name\": \"NBodyForce\", \"size\": 10498},\n    {\"name\": \"Particle\", \"size\": 2822},\n    {\"name\": \"Simulation\", \"size\": 9983},\n    {\"name\": \"Spring\", \"size\": 2213},\n    {\"name\": \"SpringForce\", \"size\": 1681}\n   ]\n  },\n  {\n   \"name\": \"query\",\n   \"children\": [\n    {\"name\": \"AggregateExpression\", \"size\": 1616},\n    {\"name\": \"And\", \"size\": 1027},\n    {\"name\": \"Arithmetic\", \"size\": 3891},\n    {\"name\": \"Average\", \"size\": 891},\n    {\"name\": \"BinaryExpression\", \"size\": 2893},\n    {\"name\": \"Comparison\", \"size\": 5103},\n    {\"name\": \"CompositeExpression\", \"size\": 3677},\n    {\"name\": \"Count\", \"size\": 781},\n    {\"name\": \"DateUtil\", \"size\": 4141},\n    {\"name\": \"Distinct\", \"size\": 933},\n    {\"name\": \"Expression\", \"size\": 5130},\n    {\"name\": \"ExpressionIterator\", \"size\": 3617},\n    {\"name\": \"Fn\", \"size\": 3240},\n    {\"name\": \"If\", \"size\": 2732},\n    {\"name\": \"IsA\", \"size\": 2039},\n    {\"name\": \"Literal\", \"size\": 1214},\n    {\"name\": \"Match\", \"size\": 3748},\n    {\"name\": \"Maximum\", \"size\": 843},\n    {\n     \"name\": \"methods\",\n     \"children\": [\n      {\"name\": \"add\", \"size\": 593},\n      {\"name\": \"and\", \"size\": 330},\n      {\"name\": \"average\", \"size\": 287},\n      {\"name\": \"count\", \"size\": 277},\n      {\"name\": \"distinct\", \"size\": 292},\n      {\"name\": \"div\", \"size\": 595},\n      {\"name\": \"eq\", \"size\": 594},\n      {\"name\": \"fn\", \"size\": 460},\n      {\"name\": \"gt\", \"size\": 603},\n      {\"name\": \"gte\", \"size\": 625},\n      {\"name\": \"iff\", \"size\": 748},\n      {\"name\": \"isa\", \"size\": 461},\n      {\"name\": \"lt\", \"size\": 597},\n      {\"name\": \"lte\", \"size\": 619},\n      {\"name\": \"max\", \"size\": 283},\n      {\"name\": \"min\", \"size\": 283},\n      {\"name\": \"mod\", \"size\": 591},\n      {\"name\": \"mul\", \"size\": 603},\n      {\"name\": \"neq\", \"size\": 599},\n      {\"name\": \"not\", \"size\": 386},\n      {\"name\": \"or\", \"size\": 323},\n      {\"name\": \"orderby\", \"size\": 307},\n      {\"name\": \"range\", \"size\": 772},\n      {\"name\": \"select\", \"size\": 296},\n      {\"name\": \"stddev\", \"size\": 363},\n      {\"name\": \"sub\", \"size\": 600},\n      {\"name\": \"sum\", \"size\": 280},\n      {\"name\": \"update\", \"size\": 307},\n      {\"name\": \"variance\", \"size\": 335},\n      {\"name\": \"where\", \"size\": 299},\n      {\"name\": \"xor\", \"size\": 354},\n      {\"name\": \"_\", \"size\": 264}\n     ]\n    },\n    {\"name\": \"Minimum\", \"size\": 843},\n    {\"name\": \"Not\", \"size\": 1554},\n    {\"name\": \"Or\", \"size\": 970},\n    {\"name\": \"Query\", \"size\": 13896},\n    {\"name\": \"Range\", \"size\": 1594},\n    {\"name\": \"StringUtil\", \"size\": 4130},\n    {\"name\": \"Sum\", \"size\": 791},\n    {\"name\": \"Variable\", \"size\": 1124},\n    {\"name\": \"Variance\", \"size\": 1876},\n    {\"name\": \"Xor\", \"size\": 1101}\n   ]\n  },\n  {\n   \"name\": \"scale\",\n   \"children\": [\n    {\"name\": \"IScaleMap\", \"size\": 2105},\n    {\"name\": \"LinearScale\", \"size\": 1316},\n    {\"name\": \"LogScale\", \"size\": 3151},\n    {\"name\": \"OrdinalScale\", \"size\": 3770},\n    {\"name\": \"QuantileScale\", \"size\": 2435},\n    {\"name\": \"QuantitativeScale\", \"size\": 4839},\n    {\"name\": \"RootScale\", \"size\": 1756},\n    {\"name\": \"Scale\", \"size\": 4268},\n    {\"name\": \"ScaleType\", \"size\": 1821},\n    {\"name\": \"TimeScale\", \"size\": 5833}\n   ]\n  },\n  {\n   \"name\": \"util\",\n   \"children\": [\n    {\"name\": \"Arrays\", \"size\": 8258},\n    {\"name\": \"Colors\", \"size\": 10001},\n    {\"name\": \"Dates\", \"size\": 8217},\n    {\"name\": \"Displays\", \"size\": 12555},\n    {\"name\": \"Filter\", \"size\": 2324},\n    {\"name\": \"Geometry\", \"size\": 10993},\n    {\n     \"name\": \"heap\",\n     \"children\": [\n      {\"name\": \"FibonacciHeap\", \"size\": 9354},\n      {\"name\": \"HeapNode\", \"size\": 1233}\n     ]\n    },\n    {\"name\": \"IEvaluable\", \"size\": 335},\n    {\"name\": \"IPredicate\", \"size\": 383},\n    {\"name\": \"IValueProxy\", \"size\": 874},\n    {\n     \"name\": \"math\",\n     \"children\": [\n      {\"name\": \"DenseMatrix\", \"size\": 3165},\n      {\"name\": \"IMatrix\", \"size\": 2815},\n      {\"name\": \"SparseMatrix\", \"size\": 3366}\n     ]\n    },\n    {\"name\": \"Maths\", \"size\": 17705},\n    {\"name\": \"Orientation\", \"size\": 1486},\n    {\n     \"name\": \"palette\",\n     \"children\": [\n      {\"name\": \"ColorPalette\", \"size\": 6367},\n      {\"name\": \"Palette\", \"size\": 1229},\n      {\"name\": \"ShapePalette\", \"size\": 2059},\n      {\"name\": \"SizePalette\", \"size\": 2291}\n     ]\n    },\n    {\"name\": \"Property\", \"size\": 5559},\n    {\"name\": \"Shapes\", \"size\": 19118},\n    {\"name\": \"Sort\", \"size\": 6887},\n    {\"name\": \"Stats\", \"size\": 6557},\n    {\"name\": \"Strings\", \"size\": 22026}\n   ]\n  },\n  {\n   \"name\": \"vis\",\n   \"children\": [\n    {\n     \"name\": \"axis\",\n     \"children\": [\n      {\"name\": \"Axes\", \"size\": 1302},\n      {\"name\": \"Axis\", \"size\": 24593},\n      {\"name\": \"AxisGridLine\", \"size\": 652},\n      {\"name\": \"AxisLabel\", \"size\": 636},\n      {\"name\": \"CartesianAxes\", \"size\": 6703}\n     ]\n    },\n    {\n     \"name\": \"controls\",\n     \"children\": [\n      {\"name\": \"AnchorControl\", \"size\": 2138},\n      {\"name\": \"ClickControl\", \"size\": 3824},\n      {\"name\": \"Control\", \"size\": 1353},\n      {\"name\": \"ControlList\", \"size\": 4665},\n      {\"name\": \"DragControl\", \"size\": 2649},\n      {\"name\": \"ExpandControl\", \"size\": 2832},\n      {\"name\": \"HoverControl\", \"size\": 4896},\n      {\"name\": \"IControl\", \"size\": 763},\n      {\"name\": \"PanZoomControl\", \"size\": 5222},\n      {\"name\": \"SelectionControl\", \"size\": 7862},\n      {\"name\": \"TooltipControl\", \"size\": 8435}\n     ]\n    },\n    {\n     \"name\": \"data\",\n     \"children\": [\n      {\"name\": \"Data\", \"size\": 20544},\n      {\"name\": \"DataList\", \"size\": 19788},\n      {\"name\": \"DataSprite\", \"size\": 10349},\n      {\"name\": \"EdgeSprite\", \"size\": 3301},\n      {\"name\": \"NodeSprite\", \"size\": 19382},\n      {\n       \"name\": \"render\",\n       \"children\": [\n        {\"name\": \"ArrowType\", \"size\": 698},\n        {\"name\": \"EdgeRenderer\", \"size\": 5569},\n        {\"name\": \"IRenderer\", \"size\": 353},\n        {\"name\": \"ShapeRenderer\", \"size\": 2247}\n       ]\n      },\n      {\"name\": \"ScaleBinding\", \"size\": 11275},\n      {\"name\": \"Tree\", \"size\": 7147},\n      {\"name\": \"TreeBuilder\", \"size\": 9930}\n     ]\n    },\n    {\n     \"name\": \"events\",\n     \"children\": [\n      {\"name\": \"DataEvent\", \"size\": 2313},\n      {\"name\": \"SelectionEvent\", \"size\": 1880},\n      {\"name\": \"TooltipEvent\", \"size\": 1701},\n      {\"name\": \"VisualizationEvent\", \"size\": 1117}\n     ]\n    },\n    {\n     \"name\": \"legend\",\n     \"children\": [\n      {\"name\": \"Legend\", \"size\": 20859},\n      {\"name\": \"LegendItem\", \"size\": 4614},\n      {\"name\": \"LegendRange\", \"size\": 10530}\n     ]\n    },\n    {\n     \"name\": \"operator\",\n     \"children\": [\n      {\n       \"name\": \"distortion\",\n       \"children\": [\n        {\"name\": \"BifocalDistortion\", \"size\": 4461},\n        {\"name\": \"Distortion\", \"size\": 6314},\n        {\"name\": \"FisheyeDistortion\", \"size\": 3444}\n       ]\n      },\n      {\n       \"name\": \"encoder\",\n       \"children\": [\n        {\"name\": \"ColorEncoder\", \"size\": 3179},\n        {\"name\": \"Encoder\", \"size\": 4060},\n        {\"name\": \"PropertyEncoder\", \"size\": 4138},\n        {\"name\": \"ShapeEncoder\", \"size\": 1690},\n        {\"name\": \"SizeEncoder\", \"size\": 1830}\n       ]\n      },\n      {\n       \"name\": \"filter\",\n       \"children\": [\n        {\"name\": \"FisheyeTreeFilter\", \"size\": 5219},\n        {\"name\": \"GraphDistanceFilter\", \"size\": 3165},\n        {\"name\": \"VisibilityFilter\", \"size\": 3509}\n       ]\n      },\n      {\"name\": \"IOperator\", \"size\": 1286},\n      {\n       \"name\": \"label\",\n       \"children\": [\n        {\"name\": \"Labeler\", \"size\": 9956},\n        {\"name\": \"RadialLabeler\", \"size\": 3899},\n        {\"name\": \"StackedAreaLabeler\", \"size\": 3202}\n       ]\n      },\n      {\n       \"name\": \"layout\",\n       \"children\": [\n        {\"name\": \"AxisLayout\", \"size\": 6725},\n        {\"name\": \"BundledEdgeRouter\", \"size\": 3727},\n        {\"name\": \"CircleLayout\", \"size\": 9317},\n        {\"name\": \"CirclePackingLayout\", \"size\": 12003},\n        {\"name\": \"DendrogramLayout\", \"size\": 4853},\n        {\"name\": \"ForceDirectedLayout\", \"size\": 8411},\n        {\"name\": \"IcicleTreeLayout\", \"size\": 4864},\n        {\"name\": \"IndentedTreeLayout\", \"size\": 3174},\n        {\"name\": \"Layout\", \"size\": 7881},\n        {\"name\": \"NodeLinkTreeLayout\", \"size\": 12870},\n        {\"name\": \"PieLayout\", \"size\": 2728},\n        {\"name\": \"RadialTreeLayout\", \"size\": 12348},\n        {\"name\": \"RandomLayout\", \"size\": 870},\n        {\"name\": \"StackedAreaLayout\", \"size\": 9121},\n        {\"name\": \"TreeMapLayout\", \"size\": 9191}\n       ]\n      },\n      {\"name\": \"Operator\", \"size\": 2490},\n      {\"name\": \"OperatorList\", \"size\": 5248},\n      {\"name\": \"OperatorSequence\", \"size\": 4190},\n      {\"name\": \"OperatorSwitch\", \"size\": 2581},\n      {\"name\": \"SortOperator\", \"size\": 2023}\n     ]\n    },\n    {\"name\": \"Visualization\", \"size\": 16540}\n   ]\n  }\n ]\n}","x":263.5,"y":241,"wires":[["22ce1662.32bbca"]]},{"id":"18a46530.9d591b","type":"http in","z":"dc0f9a26.b04198","name":"[get]/json","url":"/json","method":"get","swaggerDoc":"","x":100.5,"y":241,"wires":[["6499f07d.63cba"]]},{"id":"22ce1662.32bbca","type":"http response","z":"dc0f9a26.b04198","name":"","x":434.5,"y":241,"wires":[]},{"id":"6203b61b.9c109","type":"comment","z":"dc0f9a26.b04198","name":"Visualizing Data","info":"http://bl.ocks.org/mbostock/4063582","x":122.5,"y":29,"wires":[]},{"id":"5f629da8.d2d444","type":"inject","z":"57b296ce.6a337","name":"","topic":"","payload":"Welcome to the Bluemix training!","payloadType":"str","repeat":"","crontab":"","once":false,"x":134.5,"y":146,"wires":[["70ea2fd7.c265"]]},{"id":"e5b0906d.d607f","type":"debug","z":"57b296ce.6a337","name":"","active":true,"console":"false","complete":"false","x":484.5,"y":145,"wires":[]},{"id":"e720ab92.d54768","type":"inject","z":"e8ace3e.7cc28a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":111.5,"y":88,"wires":[["4d7c285a.f1faf8"]]},{"id":"4d7c285a.f1faf8","type":"debug","z":"e8ace3e.7cc28a","name":"","active":true,"console":"false","complete":"false","x":307.5,"y":88,"wires":[]},{"id":"449c16a3.aa1a78","type":"inject","z":"e8ace3e.7cc28a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":107.5,"y":202,"wires":[["ba6e3f34.5f8d38"]]},{"id":"ba6e3f34.5f8d38","type":"function","z":"e8ace3e.7cc28a","name":"function","func":"msg.payload = \"Hello NodeRed\";\nreturn msg;","outputs":1,"noerr":0,"x":287.5,"y":202,"wires":[["48629a56.08e88c"]]},{"id":"48629a56.08e88c","type":"debug","z":"e8ace3e.7cc28a","name":"","active":true,"console":"false","complete":"false","x":442.5,"y":201,"wires":[]},{"id":"a9ac93af.e39328","type":"inject","z":"57b296ce.6a337","name":"","topic":"","payload":"\"I am very sorry for the unstable devops services today.\"","payloadType":"str","repeat":"","crontab":"","once":false,"x":136.5,"y":258,"wires":[["c380e76d.dd3d8"]]},{"id":"b112c885.829ad8","type":"inject","z":"b989299c.af9cb8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":132.5,"y":104,"wires":[["1d836c0.e6ecc94"]]},{"id":"bfe10b18.e402c8","type":"debug","z":"b989299c.af9cb8","name":"","active":true,"console":"false","complete":"false","x":477.5,"y":104,"wires":[]},{"id":"1d836c0.e6ecc94","type":"dashDB in","z":"b989299c.af9cb8","dashDB":"","service":"stra-dashDB1","query":"select * from FLARES where ID = 'flare.flex.FlareVis';","params":"","name":"select","x":294.5,"y":104,"wires":[["bfe10b18.e402c8"]]},{"id":"82af6090.c997e","type":"inject","z":"b989299c.af9cb8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":131.5,"y":153,"wires":[["e11eac25.74f9b"]]},{"id":"e11eac25.74f9b","type":"function","z":"b989299c.af9cb8","name":"insert","func":"msg.payload =\n{\n    ID : \"red\",\n    VALUE : \"123\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":295.5,"y":153,"wires":[["c7d5d41d.aa58e"]]},{"id":"c7d5d41d.aa58e","type":"dashDB out","z":"b989299c.af9cb8","dashDB":"","service":"stra-dashDB1","table":"FLARES","name":"FLARES","x":452.5,"y":154,"wires":[]},{"id":"34cc671f.12989","type":"twitter in","z":"b989299c.af9cb8","twitter":"2086daec.fbb296","tags":"@RStrachowski","user":"user","name":"#swissre","topic":"tweets","inputs":0,"x":126.5,"y":315,"wires":[["8d061576.71fda"]]},{"id":"8d061576.71fda","type":"debug","z":"b989299c.af9cb8","name":"","active":true,"console":"false","complete":"false","x":396.5,"y":315,"wires":[]},{"id":"aaaefc77.b66068","type":"function","z":"e8ace3e.7cc28a","name":"set var","func":"context.global.set(\"temp\",20);\nmsg.payload = \"Success\";\nreturn msg;","outputs":1,"noerr":0,"x":278.5,"y":328,"wires":[["65e51d50.2f918c"]]},{"id":"3ce8aee1.58690a","type":"inject","z":"e8ace3e.7cc28a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":98.5,"y":327,"wires":[["aaaefc77.b66068"]]},{"id":"65e51d50.2f918c","type":"debug","z":"e8ace3e.7cc28a","name":"","active":true,"console":"false","complete":"false","x":433.5,"y":327,"wires":[]},{"id":"b927c483.51c17","type":"function","z":"e8ace3e.7cc28a","name":"read var","func":"var temp = context.global.get(\"temp\");\nmsg.payload = temp;\nreturn msg;","outputs":1,"noerr":0,"x":288.5,"y":372,"wires":[["a87e872a.b307a"]]},{"id":"a87e872a.b307a","type":"debug","z":"e8ace3e.7cc28a","name":"","active":true,"console":"false","complete":"false","x":432.5,"y":369,"wires":[]},{"id":"32ff7e8d.18b132","type":"inject","z":"e8ace3e.7cc28a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":99.5,"y":371,"wires":[["b927c483.51c17"]]},{"id":"1aba8a6d.aba19e","type":"comment","z":"e8ace3e.7cc28a","name":"Global variables","info":"","x":92.5,"y":287,"wires":[]},{"id":"8a76474.b4a1c38","type":"comment","z":"e8ace3e.7cc28a","name":"Functions","info":"","x":77,"y":161,"wires":[]},{"id":"1eb4f8de.bfddf7","type":"comment","z":"e8ace3e.7cc28a","name":"Debugging","info":"","x":79,"y":47,"wires":[]},{"id":"df0ba6fa.afab78","type":"comment","z":"b989299c.af9cb8","name":"SQL data","info":"","x":108.5,"y":49,"wires":[]},{"id":"c0af2586.f95708","type":"comment","z":"b989299c.af9cb8","name":"Dynamic Data","info":"","x":116.5,"y":278,"wires":[]},{"id":"5cca1c88.01a03c","type":"comment","z":"57b296ce.6a337","name":"Simple cognitive scenario","info":"","x":170.5,"y":92,"wires":[]},{"id":"b35aceb1.f2d428","type":"template","z":"57b296ce.6a337","name":"http","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n<head>\n  <title>IBM Watson - Text To Speech</title>\n  <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js\"></script>\n\n  <script type=\"text/javascript\">\n    var socketaddy = \"ws://\" + window.location.host + \"/ws/audio\";\n\n    $(document).ready(function(){\n      var output = document.getElementById('output')\n      $('#output').on('playing', function () {\n          $('#text').text('Playing audio.')\n\n      });\n      $('#output').on('ended', function () {\n          $('#text').text('Waiting for audio...')\n\n      });\n      sock = new WebSocket(socketaddy);\n      sock.onopen = function(){\n          $('#text').text('Waiting for audio...');\n          console.log(\"Connected websocket\");\n      };\n      sock.onerror = function(){\n          console.log(\"Websocket error\");\n      };\n      sock.onclose = function () {\n          $('#text').text('Not connected. Refresh the page?')\n      }\n      sock.onmessage = function(evt){\n        console.log(\"Websocket message\", evt);\n        output.src = window.URL.createObjectURL(evt.data);\n        output.play();\n      };\n    });\n  </script>\n\n</head>\n<body style=\"font-size: 56px; font-family: helvetica; text-align: center; margin-top: 100px;\">\n  <div id=\"text\">Connecting...</div>\n  <audio id=\"output\"></audio>\n</body>\n</html>\n","x":307.5,"y":307,"wires":[["3fb09707.527908"]]},{"id":"9c0f5351.244b4","type":"http in","z":"57b296ce.6a337","name":"[get]/audio","url":"/audio","method":"get","swaggerDoc":"","x":145.5,"y":307,"wires":[["b35aceb1.f2d428"]]},{"id":"3fb09707.527908","type":"http response","z":"57b296ce.6a337","name":"","x":447.5,"y":307,"wires":[]},{"id":"250e37fe.d6f548","type":"websocket out","z":"57b296ce.6a337","name":"/ws/audio","server":"c58be9e3.3f3e98","client":"","x":682.5,"y":258,"wires":[]},{"id":"3d87ce96.1fe3d2","type":"function","z":"57b296ce.6a337","name":"","func":"msg.payload = msg.speech;\nreturn msg;","outputs":1,"noerr":0,"x":509.5,"y":258,"wires":[["250e37fe.d6f548"]]},{"id":"bb7e8608.60fd2","type":"comment","z":"57b296ce.6a337","name":"Advanced cognitive services","info":"","x":184.5,"y":207,"wires":[]},{"id":"5038812f.dc2d48","type":"websocket in","z":"57b296ce.6a337","name":"/ws/audio","server":"c58be9e3.3f3e98","client":"","x":568.5,"y":354,"wires":[["250e37fe.d6f548"]]},{"id":"ba77d3c3.b84db8","type":"twitter in","z":"5e40c876.5f957","twitter":"2086daec.fbb296","tags":"@RStrachowski","user":"user","name":"#swissre","topic":"tweets","inputs":0,"x":90,"y":72,"wires":[["c1e863c6.6568d"]]},{"id":"ab390aee.950b28","type":"debug","z":"5e40c876.5f957","name":"","active":true,"console":"false","complete":"lang.language","x":623,"y":81,"wires":[]},{"id":"c30b907e.d9c7e","type":"function","z":"5e40c876.5f957","name":"","func":"msg.payload = msg.speech;\nreturn msg;","outputs":1,"noerr":0,"x":522,"y":369,"wires":[["e52cc10c.03e15"]]},{"id":"e52cc10c.03e15","type":"websocket out","z":"5e40c876.5f957","name":"/ws/audio2","server":"56851610.0762c","client":"","x":668.5,"y":369,"wires":[]},{"id":"654fca23.fb5eac","type":"switch","z":"5e40c876.5f957","name":"","property":"lang.language","propertyType":"msg","rules":[{"t":"eq","v":"en","vt":"str"},{"t":"eq","v":"de","vt":"str"}],"checkall":"true","outputs":2,"x":192.5,"y":369,"wires":[["bcc97ede.e7c96"],["23ae6ef1.fac03a"]]},{"id":"8c81abb3.5b1f88","type":"inject","z":"5e40c876.5f957","name":"Test","topic":"","payload":"We are going to have some fun today.","payloadType":"str","repeat":"","crontab":"","once":false,"x":107.5,"y":113,"wires":[["c1e863c6.6568d"]]},{"id":"c1a139c7.8492b","type":"template","z":"5e40c876.5f957","name":"http","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n<head>\n  <title>IBM Watson - Text To Speech</title>\n  <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js\"></script>\n\n  <script type=\"text/javascript\">\n    var socketaddy = \"ws://\" + window.location.host + \"/ws/audio2\";\n\n    $(document).ready(function(){\n      var output = document.getElementById('output')\n      $('#output').on('playing', function () {\n          $('#text').text('Playing audio.')\n\n      });\n      $('#output').on('ended', function () {\n          $('#text').text('Waiting for audio...')\n\n      });\n      sock = new WebSocket(socketaddy);\n      sock.onopen = function(){\n          $('#text').text('Waiting for audio...');\n          console.log(\"Connected websocket\");\n      };\n      sock.onerror = function(){\n          console.log(\"Websocket error\");\n      };\n      sock.onclose = function () {\n          $('#text').text('Not connected. Refresh the page?')\n      }\n      sock.onmessage = function(evt){\n        console.log(\"Websocket message\", evt);\n        output.src = window.URL.createObjectURL(evt.data);\n        output.play();\n      };\n    });\n  </script>\n\n</head>\n<body style=\"font-size: 56px; font-family: helvetica; text-align: center; margin-top: 100px;\">\n  <div id=\"text\">Connecting...</div>\n  <audio id=\"output\"></audio>\n</body>\n</html>\n","x":261,"y":489,"wires":[["3812ef21.ba8bc"]]},{"id":"d5e1ebca.dc8018","type":"http in","z":"5e40c876.5f957","name":"[get]/audio2","url":"/audio2","method":"get","swaggerDoc":"","x":109,"y":489,"wires":[["c1a139c7.8492b"]]},{"id":"3812ef21.ba8bc","type":"http response","z":"5e40c876.5f957","name":"","x":401,"y":489,"wires":[]},{"id":"b9132811.16dc1","type":"debug","z":"5e40c876.5f957","name":"","active":true,"console":"false","complete":"false","x":667,"y":432,"wires":[]},{"id":"1174605e.8bf49","type":"debug","z":"5e40c876.5f957","name":"","active":true,"console":"false","complete":"false","x":668,"y":310,"wires":[]},{"id":"40073d7e.80c0ec","type":"comment","z":"5e40c876.5f957","name":"Training app","info":"As an excercise, extend this simple application with translation functionality.","x":107.5,"y":31,"wires":[]},{"id":"61aa0514.023354","type":"comment","z":"5e40c876.5f957","name":"Speech to text","info":"","x":357.5,"y":308,"wires":[]},{"id":"b11ce9bd.89fb","type":"comment","z":"5e40c876.5f957","name":"Website for audio","info":"","x":119.5,"y":450,"wires":[]},{"id":"70ea2fd7.c265","type":"watson-translator","z":"57b296ce.6a337","name":"","action":"translate","basemodel":"ar-en","domain":"news","srclang":"en","destlang":"es","password":"SC3FcctseR3R","custom":"","domainhidden":"news","srclanghidden":"en","destlanghidden":"es","basemodelhidden":"ar-en","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"ldparamshidden2":"true","x":300.5,"y":145,"wires":[["e5b0906d.d607f"]]},{"id":"c1e863c6.6568d","type":"watson-language-translator-identify","z":"5e40c876.5f957","name":"","x":286.5,"y":84,"wires":[["ab390aee.950b28","654fca23.fb5eac"]]},{"id":"bcc97ede.e7c96","type":"watson-text-to-speech","z":"5e40c876.5f957","name":"english","lang":"en-US","langhidden":"en-US","voice":"en-US_MichaelVoice","voicehidden":"","format":"audio/wav","password":"xUarbF0V0ZkM","x":336.5,"y":345,"wires":[["c30b907e.d9c7e","1174605e.8bf49"]]},{"id":"23ae6ef1.fac03a","type":"watson-text-to-speech","z":"5e40c876.5f957","name":"german","lang":"de-DE","langhidden":"de-DE","voice":"de-DE_BirgitVoice","voicehidden":"","format":"audio/wav","password":"xUarbF0V0ZkM","x":336,"y":384,"wires":[["c30b907e.d9c7e","b9132811.16dc1"]]},{"id":"c380e76d.dd3d8","type":"watson-text-to-speech","z":"57b296ce.6a337","name":"english","lang":"en-US","langhidden":"en-US","voice":"en-US_LisaVoice","voicehidden":"en-US_LisaVoice","format":"audio/wav","password":"xUarbF0V0ZkM","x":328,"y":255,"wires":[["3d87ce96.1fe3d2"]]},{"id":"78d676ac.089468","type":"inject","z":"5e40c876.5f957","name":"Test2","topic":"","payload":"Heute scheint in Bratislava die Sonne.","payloadType":"str","repeat":"","crontab":"","once":false,"x":107,"y":153,"wires":[["c1e863c6.6568d"]]}]

