training-full
[{"id":"99f1ae83.9a79a8","type":"tab","label":"Basics"},{"id":"da16676c.38f788","type":"tab","label":"Data"},{"id":"c60a31c8.2f701","type":"tab","label":"Cognitive"},{"id":"a8641f72.9d091","type":"tab","label":"Webservice"},{"id":"8616df3f.1f69d8","type":"tab","label":"App"},{"id":"95cb60ea.37c6d","type":"tab","label":"Flow 2"},{"id":"e2320ecc.d176a","type":"twitter-credentials","z":"","screen_name":"@RStrachowski"},{"id":"e8aaa21c.c4ca28","type":"websocket-listener","z":"","path":"/ws/audio","wholemsg":"false"},{"id":"9db498c.39333e8","type":"websocket-listener","z":"","path":"/ws/audio2","wholemsg":"false"},{"id":"c69f5ce9.3d39a","type":"inject","z":"c60a31c8.2f701","name":"","topic":"","payload":"Welcome to the Bluemix training!","payloadType":"str","repeat":"","crontab":"","once":false,"x":134.5,"y":146,"wires":[["e2adeb2d.4e154"]]},{"id":"e2adeb2d.4e154","type":"watson-translator","z":"c60a31c8.2f701","name":"translate","action":"translate","basemodel":"ar-en","domain":"conversational","srclang":"en","destlang":"es","password":"","custom":"","domainhidden":"conversational","srclanghidden":"en","destlanghidden":"es","basemodelhidden":"","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"ldparamshidden2":"true","x":306.5,"y":144,"wires":[["4e40e0ab.27e7d8"]]},{"id":"4e40e0ab.27e7d8","type":"debug","z":"c60a31c8.2f701","name":"","active":true,"console":"false","complete":"false","x":484.5,"y":145,"wires":[]},{"id":"50de7e28.d1152","type":"inject","z":"99f1ae83.9a79a8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":111.5,"y":88,"wires":[["50132a3a.a59dc4"]]},{"id":"50132a3a.a59dc4","type":"debug","z":"99f1ae83.9a79a8","name":"","active":true,"console":"false","complete":"false","x":307.5,"y":88,"wires":[]},{"id":"bfe7a017.58fb4","type":"inject","z":"99f1ae83.9a79a8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":107.5,"y":202,"wires":[["27b87498.9e61cc"]]},{"id":"27b87498.9e61cc","type":"function","z":"99f1ae83.9a79a8","name":"function","func":"msg.payload = \"Hello NodeRed\";\nreturn msg;","outputs":1,"noerr":0,"x":287.5,"y":202,"wires":[["5c625483.270984"]]},{"id":"5c625483.270984","type":"debug","z":"99f1ae83.9a79a8","name":"","active":true,"console":"false","complete":"false","x":442.5,"y":201,"wires":[]},{"id":"802c6cef.e2586","type":"inject","z":"c60a31c8.2f701","name":"","topic":"","payload":"\"Welcome to the Bluemix training.\"","payloadType":"str","repeat":"","crontab":"","once":false,"x":136.5,"y":258,"wires":[["49b1019c.e5f7"]]},{"id":"49b1019c.e5f7","type":"watson-text-to-speech","z":"c60a31c8.2f701","name":"","lang":"en-US","langhidden":"en-US","voice":"en-US_LisaVoice","voicehidden":"en-US_LisaVoice","format":"audio/wav","password":"","x":331.5,"y":258,"wires":[["941ecb13.9bc238"]]},{"id":"47c3400a.11318","type":"inject","z":"da16676c.38f788","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":132.5,"y":104,"wires":[["ef0c900d.964968"]]},{"id":"97bb7223.770568","type":"debug","z":"da16676c.38f788","name":"","active":true,"console":"false","complete":"false","x":477.5,"y":104,"wires":[]},{"id":"ef0c900d.964968","type":"dashDB in","z":"da16676c.38f788","dashDB":"","service":"training-dashDB","query":"select * from TRAINING_DATA where ID > 18;","params":"","name":"select","x":294.5,"y":104,"wires":[["97bb7223.770568"]]},{"id":"8ba7ee09.b30658","type":"inject","z":"da16676c.38f788","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":131.5,"y":153,"wires":[["7763e9c.8c6dd18"]]},{"id":"7763e9c.8c6dd18","type":"function","z":"da16676c.38f788","name":"insert","func":"msg.payload =\n{\n    ID : 99,\n    MAC : \"12345678\",\n    UUID : \"abcdefgh\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":295.5,"y":153,"wires":[["7f076b01.9a108c"]]},{"id":"7f076b01.9a108c","type":"dashDB out","z":"da16676c.38f788","dashDB":"","service":"training-dashDB","table":"TRAINING_DATA","name":"TRAINING_DATA","x":482.5,"y":154,"wires":[]},{"id":"c2ae057d.299b78","type":"inject","z":"da16676c.38f788","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":131,"y":207,"wires":[["5dfaec64.7a5f94"]]},{"id":"c432bc3e.0bfff8","type":"debug","z":"da16676c.38f788","name":"","active":true,"console":"false","complete":"false","x":476,"y":207,"wires":[]},{"id":"5dfaec64.7a5f94","type":"dashDB in","z":"da16676c.38f788","dashDB":"","service":"training-dashDB","query":"delete from TRAINING_DATA where ID = 99;","params":"","name":"select","x":293,"y":207,"wires":[["c432bc3e.0bfff8"]]},{"id":"b945a017.d431b","type":"twitter in","z":"da16676c.38f788","twitter":"e2320ecc.d176a","tags":"@RStrachowski","user":"user","name":"#swissre","topic":"tweets","inputs":0,"x":126.5,"y":315,"wires":[["34c06308.6c230c"]]},{"id":"34c06308.6c230c","type":"debug","z":"da16676c.38f788","name":"","active":true,"console":"false","complete":"false","x":396.5,"y":315,"wires":[]},{"id":"edb6a146.223098","type":"http in","z":"a8641f72.9d091","name":"[get]/training_data","url":"/training_data","method":"get","swaggerDoc":"","x":157.5,"y":112,"wires":[["e313a140.b6e998"]]},{"id":"e313a140.b6e998","type":"dashDB in","z":"a8641f72.9d091","dashDB":"","service":"training-dashDB","query":"select * from TRAINING_DATA;","params":"","name":"","x":362.5,"y":112,"wires":[["915c2f45.fa15f8"]]},{"id":"915c2f45.fa15f8","type":"http response","z":"a8641f72.9d091","name":"","x":550.5,"y":111,"wires":[]},{"id":"ca691d2.5ca1de","type":"function","z":"99f1ae83.9a79a8","name":"set var","func":"context.global.set(\"temp\",20);\nmsg.payload = \"Success\";\nreturn msg;","outputs":1,"noerr":0,"x":278.5,"y":328,"wires":[["d2212676.a3ada"]]},{"id":"c5886986.a091b","type":"inject","z":"99f1ae83.9a79a8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":98.5,"y":327,"wires":[["ca691d2.5ca1de"]]},{"id":"d2212676.a3ada","type":"debug","z":"99f1ae83.9a79a8","name":"","active":true,"console":"false","complete":"false","x":433.5,"y":327,"wires":[]},{"id":"f34ceed2.70b8d8","type":"function","z":"99f1ae83.9a79a8","name":"read var","func":"var temp = context.global.get(\"temp\");\nmsg.payload = temp;\nreturn msg;","outputs":1,"noerr":0,"x":288.5,"y":372,"wires":[["c9cc0ba5.baa878"]]},{"id":"c9cc0ba5.baa878","type":"debug","z":"99f1ae83.9a79a8","name":"","active":true,"console":"false","complete":"false","x":432.5,"y":369,"wires":[]},{"id":"6ac7707c.954c78","type":"inject","z":"99f1ae83.9a79a8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":99.5,"y":371,"wires":[["f34ceed2.70b8d8"]]},{"id":"96528699.183058","type":"comment","z":"99f1ae83.9a79a8","name":"Global variables","info":"","x":92.5,"y":287,"wires":[]},{"id":"f19cf81e.954cc8","type":"comment","z":"99f1ae83.9a79a8","name":"Functions","info":"","x":77,"y":161,"wires":[]},{"id":"f1806f53.309fe","type":"comment","z":"99f1ae83.9a79a8","name":"Debugging","info":"","x":79,"y":47,"wires":[]},{"id":"ef6b8939.0d2a8","type":"comment","z":"da16676c.38f788","name":"SQL data","info":"","x":108.5,"y":49,"wires":[]},{"id":"6ea88e83.0ec568","type":"comment","z":"da16676c.38f788","name":"Dynamic Data","info":"","x":116.5,"y":278,"wires":[]},{"id":"4fa426f6.eacdc8","type":"comment","z":"c60a31c8.2f701","name":"Simple cognitive services","info":"","x":171.5,"y":92,"wires":[]},{"id":"4e10f674.7ab638","type":"template","z":"c60a31c8.2f701","name":"http","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n<head>\n  <title>IBM Watson - Text To Speech</title>\n  <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js\"></script>\n\n  <script type=\"text/javascript\">\n    var socketaddy = \"ws://\" + window.location.host + \"/ws/audio\";\n\n    $(document).ready(function(){\n      var output = document.getElementById('output')\n      $('#output').on('playing', function () {\n          $('#text').text('Playing audio.')\n\n      });\n      $('#output').on('ended', function () {\n          $('#text').text('Waiting for audio...')\n\n      });\n      sock = new WebSocket(socketaddy);\n      sock.onopen = function(){\n          $('#text').text('Waiting for audio...');\n          console.log(\"Connected websocket\");\n      };\n      sock.onerror = function(){\n          console.log(\"Websocket error\");\n      };\n      sock.onclose = function () {\n          $('#text').text('Not connected. Refresh the page?')\n      }\n      sock.onmessage = function(evt){\n        console.log(\"Websocket message\", evt);\n        output.src = window.URL.createObjectURL(evt.data);\n        output.play();\n      };\n    });\n  </script>\n\n</head>\n<body style=\"font-size: 56px; font-family: helvetica; text-align: center; margin-top: 100px;\">\n  <div id=\"text\">Connecting...</div>\n  <audio id=\"output\"></audio>\n</body>\n</html>\n","x":307.5,"y":307,"wires":[["74debdc8.1434b4"]]},{"id":"4630bf42.ca9708","type":"http in","z":"c60a31c8.2f701","name":"[get]/audio","url":"/audio","method":"get","swaggerDoc":"","x":145.5,"y":307,"wires":[["4e10f674.7ab638"]]},{"id":"74debdc8.1434b4","type":"http response","z":"c60a31c8.2f701","name":"","x":447.5,"y":307,"wires":[]},{"id":"31a936fa.1fa06a","type":"websocket out","z":"c60a31c8.2f701","name":"/ws/audio","server":"e8aaa21c.c4ca28","client":"","x":682.5,"y":258,"wires":[]},{"id":"941ecb13.9bc238","type":"function","z":"c60a31c8.2f701","name":"","func":"msg.payload = msg.speech;\nreturn msg;","outputs":1,"noerr":0,"x":509.5,"y":258,"wires":[["31a936fa.1fa06a"]]},{"id":"a4ea4410.be87","type":"comment","z":"c60a31c8.2f701","name":"Advanced cognitive services","info":"","x":184.5,"y":207,"wires":[]},{"id":"be8c458e.d92148","type":"websocket in","z":"c60a31c8.2f701","name":"/ws/audio","server":"e8aaa21c.c4ca28","client":"","x":568.5,"y":354,"wires":[["31a936fa.1fa06a"]]},{"id":"e5b21785.232798","type":"comment","z":"a8641f72.9d091","name":"Simple GET REST","info":"","x":159.5,"y":57,"wires":[]},{"id":"c232cbda.3fbbc8","type":"twitter in","z":"8616df3f.1f69d8","twitter":"e2320ecc.d176a","tags":"@RStrachowski","user":"user","name":"#swissre","topic":"tweets","inputs":0,"x":101,"y":92,"wires":[["9ca8aa80.1248c8","48147936.1ed6c"]]},{"id":"9ca8aa80.1248c8","type":"debug","z":"8616df3f.1f69d8","name":"","active":true,"console":"false","complete":"false","x":670,"y":37,"wires":[]},{"id":"c90b97b7.88e608","type":"dashDB out","z":"8616df3f.1f69d8","dashDB":"","service":"training-dashDB","table":"APP","name":"","x":689.5,"y":205,"wires":[]},{"id":"ec0d2fd5.87bc68","type":"function","z":"8616df3f.1f69d8","name":"","func":"var tweet = msg.payload;\nmsg.payload =\n{\n    MESSAGE : tweet\n}\nreturn msg;","outputs":1,"noerr":0,"x":554.5,"y":205,"wires":[["c90b97b7.88e608"]]},{"id":"48147936.1ed6c","type":"watson-language-translator-identify","z":"8616df3f.1f69d8","name":"","x":157.5,"y":206,"wires":[["9ca8aa80.1248c8","ec0d2fd5.87bc68","db9f25d2.c53c98","cd0ee1e9.83fb38"]]},{"id":"fad25865.73595","type":"watson-text-to-speech","z":"8616df3f.1f69d8","name":"english","lang":"en-US","langhidden":"en-US","voice":"en-US_LisaVoice","voicehidden":"en-US_LisaVoice","format":"audio/wav","password":"","x":357.5,"y":348,"wires":[["69c1b5bb.89470c","ed26a008.809b18"]]},{"id":"1e922860.ad247","type":"watson-text-to-speech","z":"8616df3f.1f69d8","name":"german","lang":"de-DE","langhidden":"de-DE","voice":"de-DE_DieterVoice","voicehidden":"de-DE_DieterVoice","format":"audio/wav","password":"","x":357.5,"y":396,"wires":[["69c1b5bb.89470c","e16e6127.15e7f8"]]},{"id":"69c1b5bb.89470c","type":"function","z":"8616df3f.1f69d8","name":"","func":"msg.payload = msg.speech;\nreturn msg;","outputs":1,"noerr":0,"x":522,"y":369,"wires":[["fc82e348.79359"]]},{"id":"fc82e348.79359","type":"websocket out","z":"8616df3f.1f69d8","name":"/ws/audio2","server":"9db498c.39333e8","client":"","x":668.5,"y":369,"wires":[]},{"id":"db9f25d2.c53c98","type":"switch","z":"8616df3f.1f69d8","name":"","property":"lang.language","propertyType":"msg","rules":[{"t":"eq","v":"en","vt":"str"},{"t":"eq","v":"de","vt":"str"}],"checkall":"true","outputs":2,"x":192.5,"y":369,"wires":[["fad25865.73595"],["1e922860.ad247"]]},{"id":"863e0fbd.14f0d8","type":"inject","z":"8616df3f.1f69d8","name":"Test","topic":"","payload":"We are going to have some fun today.","payloadType":"str","repeat":"","crontab":"","once":false,"x":110.5,"y":140,"wires":[["48147936.1ed6c"]]},{"id":"cd0ee1e9.83fb38","type":"debug","z":"8616df3f.1f69d8","name":"","active":true,"console":"false","complete":"lang.language","x":651.5,"y":79,"wires":[]},{"id":"6746776f.672858","type":"template","z":"8616df3f.1f69d8","name":"http","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n<head>\n  <title>IBM Watson - Text To Speech</title>\n  <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js\"></script>\n\n  <script type=\"text/javascript\">\n    var socketaddy = \"ws://\" + window.location.host + \"/ws/audio2\";\n\n    $(document).ready(function(){\n      var output = document.getElementById('output')\n      $('#output').on('playing', function () {\n          $('#text').text('Playing audio.')\n\n      });\n      $('#output').on('ended', function () {\n          $('#text').text('Waiting for audio...')\n\n      });\n      sock = new WebSocket(socketaddy);\n      sock.onopen = function(){\n          $('#text').text('Waiting for audio...');\n          console.log(\"Connected websocket\");\n      };\n      sock.onerror = function(){\n          console.log(\"Websocket error\");\n      };\n      sock.onclose = function () {\n          $('#text').text('Not connected. Refresh the page?')\n      }\n      sock.onmessage = function(evt){\n        console.log(\"Websocket message\", evt);\n        output.src = window.URL.createObjectURL(evt.data);\n        output.play();\n      };\n    });\n  </script>\n\n</head>\n<body style=\"font-size: 56px; font-family: helvetica; text-align: center; margin-top: 100px;\">\n  <div id=\"text\">Connecting...</div>\n  <audio id=\"output\"></audio>\n</body>\n</html>\n","x":261,"y":489,"wires":[["29d1b901.135b46"]]},{"id":"4938d1fb.d3fff","type":"http in","z":"8616df3f.1f69d8","name":"[get]/audio2","url":"/audio2","method":"get","swaggerDoc":"","x":109,"y":489,"wires":[["6746776f.672858"]]},{"id":"29d1b901.135b46","type":"http response","z":"8616df3f.1f69d8","name":"","x":401,"y":489,"wires":[]},{"id":"e16e6127.15e7f8","type":"debug","z":"8616df3f.1f69d8","name":"","active":true,"console":"false","complete":"false","x":673,"y":432,"wires":[]},{"id":"ed26a008.809b18","type":"debug","z":"8616df3f.1f69d8","name":"","active":true,"console":"false","complete":"false","x":668,"y":310,"wires":[]},{"id":"632f9733.38ba38","type":"comment","z":"8616df3f.1f69d8","name":"Training app","info":"As an excercise, extend this simple application with translation functionality.","x":107.5,"y":31,"wires":[]},{"id":"615dc15f.f00f58","type":"comment","z":"8616df3f.1f69d8","name":"Save input/output to database","info":"","x":620.5,"y":169,"wires":[]},{"id":"1e259c4a.10ca94","type":"comment","z":"8616df3f.1f69d8","name":"Speech to text","info":"","x":357.5,"y":308,"wires":[]},{"id":"2d9b91df.91c736","type":"comment","z":"8616df3f.1f69d8","name":"Website for audio","info":"","x":119.5,"y":450,"wires":[]}]

