training-app
[{"id":"c232cbda.3fbbc8","type":"twitter in","z":"8616df3f.1f69d8","twitter":"","tags":"@RStrachowski","user":"user","name":"#swissre","topic":"tweets","inputs":0,"x":101,"y":92,"wires":[["9ca8aa80.1248c8","48147936.1ed6c"]]},{"id":"9ca8aa80.1248c8","type":"debug","z":"8616df3f.1f69d8","name":"","active":true,"console":"false","complete":"false","x":670,"y":37,"wires":[]},{"id":"c90b97b7.88e608","type":"dashDB out","z":"8616df3f.1f69d8","dashDB":"","service":"training-dashDB","table":"APP","name":"","x":689.5,"y":205,"wires":[]},{"id":"ec0d2fd5.87bc68","type":"function","z":"8616df3f.1f69d8","name":"","func":"var tweet = msg.payload;\nmsg.payload =\n{\n    MESSAGE : tweet\n}\nreturn msg;","outputs":1,"noerr":0,"x":554.5,"y":205,"wires":[["c90b97b7.88e608"]]},{"id":"48147936.1ed6c","type":"watson-language-translator-identify","z":"8616df3f.1f69d8","name":"","x":157.5,"y":206,"wires":[["9ca8aa80.1248c8","ec0d2fd5.87bc68","db9f25d2.c53c98","cd0ee1e9.83fb38"]]},{"id":"fad25865.73595","type":"watson-text-to-speech","z":"8616df3f.1f69d8","name":"english","lang":"en-US","langhidden":"en-US","voice":"en-US_LisaVoice","voicehidden":"en-US_LisaVoice","format":"audio/wav","password":"","x":357.5,"y":348,"wires":[["69c1b5bb.89470c","ed26a008.809b18"]]},{"id":"1e922860.ad247","type":"watson-text-to-speech","z":"8616df3f.1f69d8","name":"german","lang":"de-DE","langhidden":"de-DE","voice":"de-DE_DieterVoice","voicehidden":"de-DE_DieterVoice","format":"audio/wav","password":"","x":357.5,"y":396,"wires":[["69c1b5bb.89470c","e16e6127.15e7f8"]]},{"id":"69c1b5bb.89470c","type":"function","z":"8616df3f.1f69d8","name":"","func":"msg.payload = msg.speech;\nreturn msg;","outputs":1,"noerr":0,"x":522,"y":369,"wires":[["fc82e348.79359"]]},{"id":"fc82e348.79359","type":"websocket out","z":"8616df3f.1f69d8","name":"/ws/audio2","server":"9db498c.39333e8","client":"","x":668.5,"y":369,"wires":[]},{"id":"db9f25d2.c53c98","type":"switch","z":"8616df3f.1f69d8","name":"","property":"lang.language","propertyType":"msg","rules":[{"t":"eq","v":"en","vt":"str"},{"t":"eq","v":"de","vt":"str"}],"checkall":"true","outputs":2,"x":192.5,"y":369,"wires":[["fad25865.73595"],["1e922860.ad247"]]},{"id":"863e0fbd.14f0d8","type":"inject","z":"8616df3f.1f69d8","name":"Test","topic":"","payload":"We are going to have some fun today.","payloadType":"str","repeat":"","crontab":"","once":false,"x":110.5,"y":140,"wires":[["48147936.1ed6c"]]},{"id":"cd0ee1e9.83fb38","type":"debug","z":"8616df3f.1f69d8","name":"","active":true,"console":"false","complete":"lang.language","x":651.5,"y":79,"wires":[]},{"id":"6746776f.672858","type":"template","z":"8616df3f.1f69d8","name":"http","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n<head>\n  <title>IBM Watson - Text To Speech</title>\n  <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js\"></script>\n\n  <script type=\"text/javascript\">\n    var socketaddy = \"ws://\" + window.location.host + \"/ws/audio2\";\n\n    $(document).ready(function(){\n      var output = document.getElementById('output')\n      $('#output').on('playing', function () {\n          $('#text').text('Playing audio.')\n\n      });\n      $('#output').on('ended', function () {\n          $('#text').text('Waiting for audio...')\n\n      });\n      sock = new WebSocket(socketaddy);\n      sock.onopen = function(){\n          $('#text').text('Waiting for audio...');\n          console.log(\"Connected websocket\");\n      };\n      sock.onerror = function(){\n          console.log(\"Websocket error\");\n      };\n      sock.onclose = function () {\n          $('#text').text('Not connected. Refresh the page?')\n      }\n      sock.onmessage = function(evt){\n        console.log(\"Websocket message\", evt);\n        output.src = window.URL.createObjectURL(evt.data);\n        output.play();\n      };\n    });\n  </script>\n\n</head>\n<body style=\"font-size: 56px; font-family: helvetica; text-align: center; margin-top: 100px;\">\n  <div id=\"text\">Connecting...</div>\n  <audio id=\"output\"></audio>\n</body>\n</html>\n","x":261,"y":489,"wires":[["29d1b901.135b46"]]},{"id":"4938d1fb.d3fff","type":"http in","z":"8616df3f.1f69d8","name":"[get]/audio2","url":"/audio2","method":"get","swaggerDoc":"","x":109,"y":489,"wires":[["6746776f.672858"]]},{"id":"29d1b901.135b46","type":"http response","z":"8616df3f.1f69d8","name":"","x":401,"y":489,"wires":[]},{"id":"e16e6127.15e7f8","type":"debug","z":"8616df3f.1f69d8","name":"","active":true,"console":"false","complete":"false","x":673,"y":432,"wires":[]},{"id":"ed26a008.809b18","type":"debug","z":"8616df3f.1f69d8","name":"","active":true,"console":"false","complete":"false","x":668,"y":310,"wires":[]},{"id":"632f9733.38ba38","type":"comment","z":"8616df3f.1f69d8","name":"Training app","info":"As an excercise, extend this simple application with translation functionality.","x":107.5,"y":31,"wires":[]},{"id":"615dc15f.f00f58","type":"comment","z":"8616df3f.1f69d8","name":"Save input/output to database","info":"","x":620.5,"y":169,"wires":[]},{"id":"1e259c4a.10ca94","type":"comment","z":"8616df3f.1f69d8","name":"Speech to text","info":"","x":357.5,"y":308,"wires":[]},{"id":"2d9b91df.91c736","type":"comment","z":"8616df3f.1f69d8","name":"Website for audio","info":"","x":119.5,"y":450,"wires":[]},{"id":"9db498c.39333e8","type":"websocket-listener","z":"","path":"/ws/audio2","wholemsg":"false"}]
